.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    /* min-height: 90vh; */
    display: flex;
    flex-direction: row;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 1em;
}

.App-link {
    color: #61dafb;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-left: 1em;
}